.button {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  word-break: break-word;
  transition: all 300ms ease;
  outline-offset: 5px;

  &:focus-visible {
    background-color: transparent;
  }
}

.button--small {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  outline-offset: 5px;
}

.button--light {
  &:focus-visible {
    &::after {
      transform: rotate(45deg);
      transition: all 300ms ease;
      background-color: $color-default-white;
    }
  }

  &:hover,
  &:active {
    color: $color-default-white;
    background-color: $color-cerulean-blue;

    &::before {
      background-color: $color-default-white;
    }

    &::after {
      transform: rotate(45deg);

      background-color: $color-cerulean-blue;
    }
  }

  &:active {
    color: rgba($color-default-white, 0.7);

    &::before {
      background-color: $color-default-white;
    }

    &::after {
      transform: rotate(45deg);

      background-color: $color-cerulean-blue-70;
    }
  }
}

.button--light:disabled,
.button--light.is-disabled {
  pointer-events: none;

  color: $color-mischka;
  border-color: $color-mischka;

  &::before {
    color: $color-default-white;
    background-color: $color-mischka;
  }

  &:focus-visible {
    outline: none;

    &::after {
      transform: none;
    }
  }
}

.button--blue {
  &:focus-visible {
    &::after {
      transform: rotate(45deg);

      background-color: $color-cerulean-blue;
    }
  }

  &:hover,
  &:active {
    color: $color-cerulean-blue;
    background-color: $color-default-white;

    &::before {
      background-color: $color-cerulean-blue;
    }

    &::after {
      transform: rotate(45deg);

      background-color: $color-default-white;
    }
  }

  &:active {
    color: $color-cerulean-blue-70;

    &::before {
      background-color: $color-cerulean-blue;
    }

    &::after {
      transform: rotate(45deg);

      background-color: rgba($color-default-white, 0.7);
    }
  }
}

.button--blue:disabled,
.button--blue.is-disabled {
  pointer-events: none;

  color: $color-mischka;
  border-color: $color-mischka;

  &::before {
    color: $color-default-white;
    background-color: $color-mischka;
  }

  &:focus-visible {
    outline: none;

    &::after {
      transform: none;
    }
  }
}

.button--swiper {
  width: 22px;
  height: 22px;
  position: relative;
  border: none;
  background-color: transparent;

  &::after {
    position: relative;
    top: 1px;
    left: 0;

    display: block;

    width: 8px;
    height: 8px;

    content: "";
    transform: rotate(45deg);

    background-color: $color-cerulean-blue;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: url("/__spritemap#sprite-button-arrow-view");
  }

  &::before {
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 0;

    display: block;

    width: 22px;
    height: 22px;

    content: "";

    opacity: 0;
    border-radius: 30px;
    background-color: $color-default-white;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:focus-visible {
    border-radius: 30px;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: 0.7;
    }

    &::before {
      opacity: 1;
    }
  }
}

.button--swiper:disabled,
.button--swiper.is-disabled {
  pointer-events: none;

  &:hover::after {
    opacity: 1;
  }

  &::after {
    background-color: $color-mischka;
  }

  &::before {
    opacity: 0;
  }
}

.button--prev {
  &::after {
    left: 2px;

    transform: rotate(225deg);
  }
}
