.contacts {
  padding: 76px 15px 70px;

  background-color: $color-cerulean-blue;

  @media(min-width: $tablet-width) {
    padding: 100px 45px;
  }

  @media(min-width: $desktop-width) {
    padding: 120px 100px;
  }
}

.contacts__wrapper {
  max-width: 290px;
  margin: 0 auto;
  @media(min-width: $tablet-width) {
    max-width: 678px;
  }
  @media(min-width: $desktop-width) {
    max-width: 1240px;
  }
}

.contacts__title {
  color: $color-default-white;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 21px;

  @media(min-width: $tablet-width) {
    flex-direction: row;

    gap: 20px;
  }

  @media(min-width: $desktop-width) {
    min-width: 604px;

    gap: 40px;
  }
}

.contacts__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 30px;
  padding-bottom: 30px;

  border-bottom: 2px solid rgba($color-default-white, 0.2);

  gap: 35px;

  @media(min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-bottom: 30px;

    gap: 31px;
  }

  @media(min-width: $desktop-width) {
    flex-direction: row;

    margin-bottom: 40px;
    padding-bottom: 40px;

    gap: 60px;
  }
}

.contacts__heading {
  font-size: $font-line-size-mouse;
  font-weight: 400;
  line-height: $font-line-size-mouse;

  margin: 0;
  padding-bottom: 14px;

  letter-spacing: 0.12px;
  text-transform: uppercase;

  opacity: 0.8;
  color: $color-alabaster;

  @media(min-width: $tablet-width) {
    padding-bottom: 23px;
  }

  @media(min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.contacts__description {
  font-size: $font-line-size-rat;
  font-weight: $regular;
  line-height: $font-line-size-dog;

  margin: 0;

  text-decoration: none;

  color: $color-default-white;

  br {
    display: none;
  }

  @media(min-width: $tablet-width) {
    font-size: $font-line-size-rabbit;
  }

  @media(min-width: $desktop-width) {
    line-height: $font-line-size-moose;

    br {
      display: block;
    }
  }
}

.contacts__link {
  text-underline-offset: 5px;

  @media(min-width: $desktop-width) {
    line-height: $font-line-size-hare;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    text-decoration: underline;

    opacity: 1;
    color: $color-charcoal;
    outline: none;
  }

  &:active {
    text-decoration: underline;

    opacity: 1;
    color: $color-default-white;
  }
}

.contacts__map {
  display: block;

  border-radius: 16px;
  background-color: $color-mischka;
}
