.faq__wrapper {
  padding: 50px 15px 35px;

  @media(min-width: $tablet-width) {
    padding: 50px 45px;
  }

  @media(min-width: $desktop-width) {
    padding: 60px 206px 55px;
  }
}

.faq__title {
  margin: 0 auto;

  text-align: center;

  @media(min-width: $desktop-width) {
    padding-top: 11px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  padding-top: 30px;

  list-style-type: none;

  gap: 10px;

  @media(min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media(min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.faq__question-title {
  font-size: $font-line-size-rabbit;
  font-weight: $regular;
  line-height: $font-line-size-fox;

  width: 187px;
  margin: 0;

  transition: color 0.3s ease;

  color: $color-cerulean-blue;

  @media(min-width: $tablet-width) {
    font-size: $font-line-size-wolf;
    line-height: $font-line-size-moose;

    width: 470px;
  }

  @media(min-width: $desktop-width) {
    font-size: $font-line-size-bear;
    line-height: $font-line-size-hippo;

    width: 775px;
  }
}

.faq__accordion-answer {
  overflow: hidden;

  max-height: 0;

  transition: all 0.3s linear;

  p {
    font-size: $font-line-size-rat;
    font-weight: $regular;
    line-height: $font-line-size-dog;

    margin: 0;

    color: $color-alabaster;

    @media(min-width: $tablet-width) {
      font-size: $font-line-size-rabbit;
    }

    @media(min-width: $desktop-width) {
      line-height: $font-line-size-moose;
    }
  }
}

.faq__accordion-answer.is-open {
  max-height: 200px;
  padding-top: 22px;

  transform: translateY(0);

  opacity: 1;

  @media(min-width: $tablet-width) {
    padding-top: 27px;
  }

  @media(min-width: $desktop-width) {
    padding-top: 22px;
  }
}

.faq__item {
  position: relative;

  padding: 22px 17px 22px 15px;

  cursor: pointer;
  transition: background-color 0.3s ease;

  border: 2px solid $color-cerulean-blue;
  border-radius: 14px;
  background-color: transparent;

  &:nth-child(4n) {
    padding: 20px 17px 20px 15px;
  }

  &:nth-child(4n) .faq__accordion-button {
    top: 27px;
  }

  &:nth-child(5n) {
    padding: 20px 17px 20px 15px;
  }

  &:nth-child(5n) .faq__accordion-button {
    top: 36px;
  }

  // .faq__accordion-button

  @media(min-width: $tablet-width) {
    padding: 37px 42px 37px 30px;

    border-radius: 16px;

    &:nth-child(4n) {
      padding: 30px 42px 30px 30px;
    }

    &:nth-child(4n) .faq__accordion-button {
      top: 30px;
    }

    &:nth-child(4n) .faq__question-title {
      // .faq__question-title

      width: 410px;
    }

    &:nth-child(5n) {
      padding: 30px 42px 30px 30px;
    }

    &:nth-child(5n) .faq__accordion-button {
      top: 30px;
    }
  }

  @media(min-width: $desktop-width) {
    padding: 44px 42px 42px 40px;

    &:nth-child(4n) {
      padding: 41px 42px 39px 40px;

    }
    &:nth-child(4n) .faq__accordion-button {
      top: 27px;
    }

    &:nth-child(4n) .faq__question-title {
      // .faq__question-title

      width: 775px;
    }

    &:nth-child(5n) {
      padding: 41px 42px 39px 40px;
    }

    &:nth-child(5n) .faq__accordion-button {
      top: 36px;
    }
  }
}

.faq__item.is-open {
  padding-bottom: 20px;

  background-color: $color-cerulean-blue;

  @media(min-width: $tablet-width) {
    padding-bottom: 30px;
  }

  @media(min-width: $desktop-width) {
    padding-bottom: 40px;
  }

  .faq__question-title {
    color: $color-default-white;
  }

  .faq__accordion-button {
    background-color: $color-default-white
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-cerulean-blue;
  }

  .faq__accordion-button::after {
    display: none;
  }
}

.faq__accordion-button {
  position: absolute;
  top: 20px;
  right: 15px;

  width: 40px;
  height: 40px;

  border: 1px solid $color-cerulean-blue;
  border-radius: 50%;
  background-color: $color-cerulean-blue;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    content: "";
    transform: translate(-50%, -50%);

    background-color: $color-default-white;
  }

  &::before {
    width: 18px;
    height: 1px;
  }

  &::after {
    width: 1px;
    height: 18px;
  }

  @media(min-width: $tablet-width) {
    top: 30px;
    right: 30px;
  }

  @media(min-width: $desktop-width) {
    top: 40px;
    right: 40px;
  }
}

.faq__item:hover,
.faq__item:focus-visible {
  background-color: $color-default-white;

  .faq__accordion-button,
  .faq__accordion-button {
    background-color: $color-default-white;
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-cerulean-blue;
  }
}

.faq__item:active {
  .faq__question-title {
    color: $color-endeavour;
  }

  .faq__accordion-button,
  .faq__accordion-button {
    background-color: $color-endeavour;
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-default-white;
  }
}

.faq__item.is-open:hover,
.faq__item.is-open:focus-visible {
  background-color: $color-cerulean-blue;

  .faq__accordion-button,
  .faq__accordion-button {
    border-color: $color-default-white;
    background-color: $color-cerulean-blue;
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-default-white;
  }
}

.faq__item.is-open:active {
  background-color: $color-endeavour;

  .faq__question-title {
    color: $color-default-white
  }

  .faq__accordion-button,
  .faq__accordion-button {
    background-color: $color-default-white;
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-cerulean-blue
  }
}
