.page-body {
  font-family: $manrope;
  position: relative;
  min-width: $mobile-width;
  min-height: 100%;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-pearl-40;
    content: "";
    z-index: 5;
    display: none;
  }

  &--hidden {
    overflow: hidden;
  }

  &--shown::before {
    display: block;
  }
}
