.reviews__wrapper {
  position: relative;

  padding: 55px 15px 50px;
  margin: 0 auto;
  max-width: 290px;
  min-height: 500px;

  @media (min-width: $tablet-width) {
    max-width: 723px;
    padding: 50px 0 50px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 100px 60px;
    max-width: 1240px;
  }
}

.reviews__title {
  @media (min-width: $desktop-width) {
    padding-left: 3px;
  }
}

.reviews__swiper.swiper {
  @media (min-width: $tablet-width) {
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.reviews__swiper-wrapper {
  padding: 0;
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
    padding-bottom: 23px;
  }
}

.reviews__swiper-slide.swiper-slide {
  min-height: 386px;
  max-width: 245px;
  padding: 30px 26px 52px 15px;
  height: auto;
  border: 2px solid $color-cerulean-blue;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    max-width: 461px;
    min-height: 311px;
    padding: 50px 45px 50px 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 505px;
    min-height: 379px;
    padding: 50px 45px 50px 50px;
  }
}

.reviews__head-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  padding-right: 2px;
  padding-bottom: 12px;

  gap: 12px;

  @media (min-width: $tablet-width) {
    align-items: center;
    flex-direction: row;

    padding-right: 6px;
    padding-bottom: 27px;

    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 2px;
    gap: 36px;
  }
}

.reviews__background-img {
  border-radius: 45px;
  background-color: $color-mischka;
}

.reviews__person {
  display: flex;
  align-items: center;

  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }
}

.reviews__person-name {
  font-size: $font-line-size-rat;
  font-weight: $regular;
  line-height: $font-line-size-fox;

  width: min-content;
  margin: 0;
  padding-bottom: 4px;

  color: $color-cerulean-blue;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-dog;
    line-height: $font-line-size-deer;

    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-line-size-fox;
  }
}

.reviews__info {
  display: flex;

  padding-bottom: 13px;

  gap: 26px;

  @media (min-width: $tablet-width) {
    gap: 25px;
  }
}

.reviews__info-heading {
  font-size: $font-line-size-mouse;
  font-weight: $regular;
  line-height: $font-line-size-mouse;

  margin: 0;
  padding-bottom: 8px;

  letter-spacing: 0.12px;
  text-transform: uppercase;

  color: $color-cerulean-blue;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
  }
}

.reviews__info-description {
  font-size: $font-line-size-mouse;
  font-weight: $regular;
  line-height: $font-line-size-rat;

  width: max-content;
  margin: 0;

  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-rat;
    line-height: $font-line-size-dog;

    width: auto;
  }

  @media (min-width: $desktop-width) {
    line-height: $font-line-size-fox;
  }
}

.reviews__header {
  font-size: $font-line-size-rabbit;
  font-weight: $regular;
  line-height: $font-line-size-fox;

  margin: 0;
  padding-bottom: 19px;

  color: $color-cerulean-blue;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-dog;
    line-height: $font-line-size-deer;

    padding-bottom: 24.5px;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-line-size-deer;
    line-height: $font-line-size-moose;
  }
}

.reviews__swiper-slide>p {
  font-size: $font-line-size-rat;
  font-weight: $regular;
  line-height: $font-line-size-dog;

  margin: 0;

  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-rabbit;

    width: 459px;
  }

  @media (min-width: $desktop-width) {
    line-height: $font-line-size-moose;

    width: 100%;
  }

  &:nth-child(1) {
    width: 440px;
  }
}

.reviews__scrollbar {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;

    display: block;

    width: 560px;
    height: 2px;
    padding: 10.9px 0 10px;

    cursor: pointer;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 1136px;
  }

  &::before {
    position: absolute;
    top: 53%;
    right: 0;
    left: 0;

    height: 2px;

    content: "";
    transform: translateY(-50%);

    background-color: $color-cerulean-blue-20;
  }

  .swiper-scrollbar-drag {
    @media (min-width: $tablet-width) {
      width: 324px;
      height: 2px;

      background-color: $color-cerulean-blue;
    }

    @media (min-width: $desktop-width) {
      width: 394px;
    }
  }
}

.reviews__swiper-buttons {
  position: absolute;
  z-index: 1;
  top: 53px;
  right: 15px;

  display: flex;

  gap: 8px;

  @media (min-width: $tablet-width) {
    top: auto;
    right: 45px;
    bottom: 51px;

    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    right: 100px;
    bottom: 61px;
  }
}
