// Сustom сolor

$color-charcoal: #484848;
$color-alabaster: #f0efe9;
$color-cerulean-blue: #316dc2;
$color-endeavour: #275699;
$color-mischka: #a9afb7;
$color-wild-watermelon: #ff5e66;
$color-cerulean-blue-20: rgba(49, 109, 194, 0.2);
$color-cerulean-blue-50: rgba(49, 109, 194, 0.5);
$color-cerulean-blue-60: rgba(49, 109, 194, 0.6);
$color-cerulean-blue-70: rgba(49, 109, 194, 0.7);
$color-black-pearl-40: rgba(13, 29, 51, 0.4);

// Default color

$color-default-white: #ffffff;

// Typography

$light: 300;
$regular: 400;
$medium: 500;
$font-line-size-mouse: 12px;
$font-line-size-rat: 14px;
$font-line-size-rabbit: 16px;
$font-line-size-hare: 17px;
$font-line-size-fox: 18px;
$font-line-size-dog: 20px;
$font-line-size-wolf: 22px;
$font-line-size-deer: 24px;
$font-line-size-moose: 26px;
$font-line-size-bear: 28px;
$font-line-size-lion: 30px;
$font-line-size-alligator: 32px;
$font-line-size-hippo: 34px;
$font-line-size-rhino: 36px;
$font-line-size-elephant: 44px;
$font-line-size-anaconda: 50px;
$font-line-size-giraffe: 54px;
$font-line-size-blue-whale: 62px;
$manrope: "Manrope", "Arial", sans-serif;

// Width

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;
